GROQ_API_KEY = "YOUR_GROQ_API_KEY"
SESSION_SECRET_KEY = "YOUR_SESSION_SECRET_KEY"  # Can be any random string
DEVELOPMENT_ENV = "docker"  # Environment setting: set to "docker" when running inside Docker; for local development, set to "local" or comment out this line

