GROQ_API_KEY = "YOUR_GROQ_API_KEY"
SESSION_SECRET_KEY = "YOUR_SESSION_SECRET_KEY"  # Can be any random string
DEVELOPMENT_ENV = "docker"  # Set to "docker" for Docker environment, "local" for local development
IMAGES_DIR = "C:\RecallAI\images_taken"  # Directory path for storing captured images and OCR data
FAISS_VECTOR_STORE_DIR  = "YOUR_FAISS_VECTOR_STORE_DIR "

