fastapi[standard]
concurrent_log_handler
Pillow
opencv-python
numpy
wmi
pytesseract
mss
screeninfo
langchain-huggingface
langchain_groq
langchain
python-dotenv
langchain_community
langchain_core
scikit-learn
torchvision>=0.5
faiss-cpu
sentence-transformers
itsdangerous
speechrecognition
pyaudio
pyttsx3
watchdog
qdrant-client  
cryptography
sounddevice 
librosa
-f https://www.paddlepaddle.org.cn/whl/mkl/avx/stable.html
paddlepaddle-gpu==2.6.2
paddleocr