fastapi[standard]
concurrent_log_handler
Pillow
opencv-python
numpy
wmi
pytesseract
mss
screeninfo
langchain-huggingface
langchain-ollama
langchain
python-dotenv
langchain_community
langchain_core
scikit-learn
langchain-qdrant
torchvision>=0.5
faiss-cpu
sentence-transformers
itsdangerous
watchdog
qdrant-client  
cryptography
filelock
-f https://www.paddlepaddle.org.cn/whl/mkl/avx/stable.html
paddlepaddle-gpu==2.6.2
paddleocr